  <div class="contentright">
    <h2>Announcements</h2>
    <p>We have a new web-irc client, which will hopefully get you where you need to go if you are looking for help with the wargames. 
      Just open the client by clicking the IRC link from any wargame info page to land in the specific wargame channel.
      Also, don't forget to check out <%= link_to "AMATERIA", wargames_amateria_path %> created by kaliman. It has some tasty treats 
      for all you intermediate and advanced wargamers. So give it a try and make amateria feel welcome at her new home.</p>
    <h2>Coming Soon...</h2>
    <p><span>We are also working on a web interface for blowfish complete with scoreboard</span></p>
  </div>
