  <div class="contentright">
    <h2>Announcements</h2>
    <p>SmashTheStack is proud to announce <%= link_to "AMATERIA", "http://amateria.smashthestack.org:89" %>,
      a wargame created by kaliman. Some of you may remember this game as "lolwargame" a name that was used during a beta period while it was hosted elsewhere. 
      It has some tasty treats for all you intermediate and advanced wargamers. So everybody give it a try and make amateria feel welcome at her new home.</p>
    <p>Also, The <%= link_to "TUX", "http://tux.smashthestack.org:86/" %> wargame is undergoing a complete redesign. It was designed around the motto 
      "shameless haxxor kitsch fun". Just like in the movies ;-). As of this writing it contains 4 levels. The game is intended to complement the more academic
      style of the popular <%- link_to "http://io.smashthesstack.org:84/", "IO" %> wargame.</p>
    <h2>Coming Soon...</h2>
    <p><span>SmashTheStack staff are working on the points system, and it's almost fully operational.</span></p>
  </div>
