<div id="content">

<h2 style="color:#80a630">Contact Us?</h2><br/>
<p>Got a question or a suggestion for us? Maybe you have a level you would like to submit for a wargame. Even if you just want to say hi, just use this form to send an email to staff@smashthestack.org</p>

<form method="post" action="./email.php" onsubmit="return validate(this);">
<br><br>
<table bgcolor="#" border="0" cellspacing="0" cellpadding="0" width="60%"><tr><td align="center">
<table bgcolor="#000000" border="0" width="350">
    <tr><td bgcolor="#000000" align="left">
<table bgcolor="#000000" border="0" width="100%"><tr>
             <td>
             <font color="#ffffff">

             <p><b>Name:</b><br /><input type="text" style="background-color: ##666666; color:#80a630;" name="name" value=""/></p>
             <p><b>Email:</b><br /><input type="text" style="background-color: ##666666; color:#80a630;" name="email" value="" /></p>
             <p><b>Comments and/or Questions</b><br /><textarea name="message" style="background-color: ##666666; color:#80a630;" rows="15" cols="50"></textarea></p> </td>
              </tr>
              </table>
              </td>
              </tr>

              <tr><td align="left"><input type="submit" value="Submit" style="background-color: black; color:#fff;"/>&nbsp;&nbsp;<input type="reset" name="Reset" value="Reset" style="background-color: black; color:#fff;"/>
              </td>
              </tr>
              </table>
              </center></td>
    </tr>
</table>
<br><br>
</form>

</div>
