<div class="items-holder"> 
    <div class="items">
      <div id="item-header">
        BOX
      </div>
      <div id="item-header">
        STATUS
      </div>
      <div id="item-header">
        ADMIN
      </div>
    </div>
    <% wargames.each do |name, status, port, admin| %>
    <div class="items">
      <div class="item-left" id="item">
        <%= link_to name.upcase, url_for("wargames/#{name}") %>
      </div>
      <div class="<%= status %>" id="item">
        <%= status.upcase %>
      </div>
      <div class="item-right" id="item">
        <%= admin %>
      </div>
    </div>
    <% end %>
</div>

