<div style="background: url('/assets/offair.jpg');width:800px;padding:15px 0px;height:500px" id="content2">
  <div style="margin-top:150px;background-color:black;color:white;text-align:center">
    <span style="margin:auto"><h2 style="color:#80a630"><%= params[:wargame].upcase %> is currently down for maintenance.</h2></span>
  </div>
</div>
