<div id="footer">
  <div id="footerlinks">&copy;2011 <%= link_to "smashthestack.org", root_path %>&nbsp;&middot;&nbsp;<%= link_to "contact", nil, class: "green" %>&nbsp;&middot;&nbsp;<%= link_to "disclaimer", nil, class: "green" %><div style="float:right"><%= link_to image_tag('hacker.png'), "http://www.catb.org/~esr/faqs/hacker-howto.html" %></div></div>
</div>
